@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap');


.inter {
  font-family: "Inter", sans-serif;
}
.noto-sans {
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
 
}

a.active{
  @apply bg-green-600 text-white shadow
}

